<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-apple-sf-speech-recognizer-get-authorization-status" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>AppleSFSpeechRecognizerRequestAuthorization</name>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="AppleSFSpeechRecognizerRequestAuthorization">
        <param name="ios-package" value="AppleSFSpeechRecognizerRequestAuthorization" />
      </feature>
    </config-file>
    <framework src="Speech.framework" weak="true" />
    <source-file src="src/swift/AppleSFSpeechRecognizerRequestAuthorization.swift" />
  </platform>
</plugin>
